body {
  font-family: Helvetica;
}
h1 {
  font-family: Helvetica;
  font-weight: bold;
  font-size: 100px;
  color:khaki;
  text-align: center, horizontal;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-2/pattern.jpeg");
}


#demo {
  font-family: Helvetica;
  font-size: 32px;
  font-weight: bold;
color: white;
background-color: mediumspringgreen;
}
#starting {
  font-family: Helvetica
  font-weight: bold;
  color:blue;
}
#frames {font-family: Helvetica;
font-size: 32px;
font-weight: bold;
color: white;
background-color:lightcoral;
}

#paint {font-family: Helvetica;
font-size: 32px;
font-weight: bold;
color: white;
background-color:skyblue}

a {
  text-decoration: none;
}
